.header {
  position: sticky;
  top: 0;
  height: 56px;
  border: 0px;
  z-index: 10;
  background-color: #ffffff;
  width: 100%;
}

.header--scroll {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 8px;
  background-color: #ffffff;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1024px;
  width: 100%;
  margin: auto;
  padding: 0 10px;
  width: calc(100% - 20px);
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  width: 136px;
  height: 100%;
  margin: 0;
}

.logo {
  width: 100%;
}

.header__profile--action {
  height: 36px;
  cursor: pointer;
}

.header__profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 36px;
  margin-left: 25px;
  border-radius: 100%;
  cursor: pointer;
}

.header__profileImg {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  object-fit: cover;
}

.header__userName {
  font-weight: 400;
  font-size: 14px;
  padding: 0 10px;
  width: auto;
}

.header__profileContainer {
  width: 120px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  margin: 23px 0 0 auto;
  font-size: 12px;
  font-weight: 400;
  overflow: hidden;
}

.header__element {
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header__element:hover {
  background-color: #f8f9fa;
}

.header__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
