.write__container {
  /* height: calc(100% - 52px); */
  height: 100%;
  min-height: 100%;
  /* width: 100%; */
  overflow-y: auto;
  justify-content: center;
}

.write__input {
  margin: 0 0 5px 0;
  padding: 5px;
  border-bottom: #ccc solid 1px;
  font-size: 20px;
  font-weight: 600;
}

.writeBar {
  position: sticky;
  bottom: 0;
  border: 0px;
  height: 56px;
  min-height: 56px;
  width: 100%;
  /* margin: 0 -10px 0 -10px; */
  border-top: 1px solid #ccc;
  background-color: #ffffff;
  z-index: 10;
}

.writeBar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  height: 100%;
  max-width: 1044px;
  width: 100%;
  margin: auto;
}

.writeBar__button {
  margin: 0 10px;
}
