body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: nones;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.app-container {
  height: calc(100vh - 61px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #fff;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
  width: calc(100% - 20px);
  max-width: 1024px;
  display: flex;
  flex-direction: column;
}

.container--768 {
  margin: 56px auto;
  max-width: 768px;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #949494;
  border: #949494 1px solid;
  border-radius: 5px;
  width: 80px;
  height: 32px;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.button:hover {
  background-color: #949494;
  color: #ffffff;
  cursor: pointer;
}

.underscore__button {
  border: none;
  /* border-bottom: #949494 1px solid; */
  border-bottom: #ccc 1px solid;
  border-radius: 0%;
  width: 26px;
  height: auto;
  font-size: 14px;
  padding: 5px 10px;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #f1f3f5;
}

.separator--col {
  width: 1px;
  height: 100%;
  background-color: #f1f3f5;
  margin: 0 20px;
}

@media screen and (max-width: 768px) {
  .container--768 {
    margin: 24px auto;
  }
  /* .separator {
    height: 2px;
  } */
}
