body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: nones;
  margin: 0;
  padding: 0;
}

div {
  font-weight: 400;
  font-size: 14px;
}

input {
  border: none;
  outline: none;
}

#root {
  height: 100%;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  /* height: 100%; */
  height: 100vh;
  width: 100%;
}

.app-container {
  height: calc(100vh - 61px);
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #fff;
}

.container {
  margin: 0 auto;
  /* height: 100%; */
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 12px;
  font-weight: 500;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #949494;
  border: #949494 1px solid;
  border-radius: 5px;
  width: 80px;
  height: 32px;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.button:hover {
  background-color: #949494;
  color: #ffffff;
  cursor: pointer;
}
