body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: nones;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  /* height: 100%; */
  height: 100vh;
  width: 100%;
}

.app-container {
  height: calc(100vh - 61px);
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container .title {
  font-weight: 500;
  font-size: 2rem;
  margin: 20px 0;
}

.button {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px 0;
  width: 100px;
  background-color: #ffffff;
  color: #949494;
  border: #949494 1px solid;
  border-radius: 5px;
}

.button:hover {
  background-color: #949494;
  color: #ffffff;
  cursor: pointer;
}

.notfound-icon {
  margin: -20px auto;
}

.margin {
  margin: 20px 0;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  border: 0px;
  border-top: 1px solid #ccc;
  background-color: #ffffff;
  z-index: 10;
}

.bottom-bar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.col-center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.row-center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.posts {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post {
  display: flex;
  flex-direction: column;
  height: 370px;
  width: 320px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0.8rem 0;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
  transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
}

.post:hover {
  transform: translateY(-8px);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 12px 20px 0px;
}

.post .post-img {
  width: 320px;
  height: 170px;
}

.post .post-img img {
  width: 320px;
  height: 170px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.post .post-main {
  height: calc(100% - 35px - 170px);
  padding: 10px 15px;
}

.post .post-main .title {
  font-weight: 500;
  font-size: 1rem;
  margin: 1px;
  height: 35px;
}

.post .post-main .desc {
  height: calc(100% - 35px - 35px);
}

.post .post-main .post-bottom {
  height: 35px;
  padding: 0;
  justify-content: flex-start;
  border-top: none;
}

.post .post-main .post-bottom div {
  padding: 0 5px 0 0;
}

.post .post-bottom {
  height: 35px;
  padding: 10px 15px;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  font-weight: 300;
  font-size: 0.8rem;
}

.post .writer img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 100%;
  margin: 0 10px 0 0;
}
