.notfound__title {
  font-weight: 500;
  font-size: 2rem;
  margin: 20px 0;
}

.notfound__img {
  margin: 20px auto 40px;
}

.icon--notfound {
  margin: -20px auto;
}

.notfound__buttonBar {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
